nav,ul,li{
    display: inline;
    margin: 10px;
    padding-left: 2vw;
    text-align: center;
}
li{
    border: 2px solid;
    text-underline-offset: 10px;
    border-radius: 5px;
    background-color: #4b4949;
    text-align: center;
}
a{
    color: rgb(255, 255, 255);
    text-align: center;
}
li:hover{
    border: 4px ;
    border-radius: 5px;
    box-shadow: 2px 3px 8px #4b4949;
    background-color: #ffffff;
    transition: 1.5s;
    box-sizing: 20px;
}
a:hover{
    font-size: 20px;
    transition: 0.5s ease-in;
    background-size: 20px;
    color: rgb(4, 4, 4);
    text-align: center; 
}
h1{
    background-color: #4b4949;
    color: #ffffff;
    transition: 2s ease-out;
    border: 2px black;
    font-family:cursive;
    box-shadow: 1px 5px 3px rgb(177, 154, 154);
    border-radius: 31px  ;
}
span{
    font-size: 20px;
    cursor: pointer;
    transition: 2s;

}
h2{
    background-color: #c1bbbb;
    border-radius: 4px;
    box-shadow: 2px 3px 4px;
}
footer{
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 10px;
}
video{
    padding-left: 10px;
    padding: %;
}